<h3>TEST!!</h3>
<div class="ticket-site">


  <div class="ticket-info-card" *ngIf="event; else loading">
    <h3> {{ event.title }}</h3>
    <p> {{ event.description }}</p>
    <p> {{ event.ticketAvailable }} antal lediga biljetter</p>

  </div>

  <br/>

  <div class="ticket-card">
    <div class="ticket-selector" *ngIf="event; else loading">
      <p>Välj antal biljetter</p>
      <p>Pris per biljett: {{ event.price }} </p>

      <hr>

      <div class="ticket-counter">
        <button name="increment-button" (click)="increment()">[+]</button>
        <h2> {{ totalTickets }}</h2>
        <button name="decrement-button" (click)="decrement()">[-]</button>
      </div>

      <p>Totalt: </p> <p> {{ totalPrice }} </p>

      <button (click)="goToCheckoutPage()"> Fortsätt till checkout </button>

    </div>

    <ng-template #loading>
      <p>Laddar event...</p>
    </ng-template>
  </div>

</div>
